.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box {
  border: 1px solid grey;
  padding: 15px;
}

.green {
  background-color: green;
}
.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box {
  border: 1px solid grey;
  padding: 15px;
}

.green {
  background-color: green;
}
